body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin: 50px auto 0 auto;
  position: relative;
}

h3 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  position: relative;
}

a {
  color: #66BFBF;
}

img {
  margin-top: 50px;
  width: 15rem;
}

.first-paragraph {
  display: inline-block;
}

.skill-row {
  width: 50%;
  display: inline-block;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-description {
  /*display: inline-block;*/
  line-height: 2;
}

.top {
  background-color: #BFFFF0;
  padding-top: 50px;
  position: relative;
}

.middle {}

.bottom {}

.lec-45 {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  right: 60px;
}

.computer {
  float: left;
  margin-right: 30px;
}

.teach {
  float: right;
  margin-left: 30px;
}
