body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}
hr{

  border-style:none;
  border-top-style: dotted;
  border-color: #EAF6F6;

  border-width: 7px;
  width: 10%
}
h1 {
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin: 50px auto 0 auto;
  position: relative;
}

h3 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  position: relative;
}

a {
  color: #11999E;
  margin-right: 50px;
  margin-left: 50px;
}

.middle-Images{
  margin-top: 50px;
  width: 15rem;
}
.copyright{
  color: #EAF6F6;
}
.first-paragraph {
  display: inline-block;
    color: #40514E;
}
.middle-paragraph{
    color: #40514E;
}
.skill-row {
  width: 50%;
  display: inline-block;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-description {
  /*display: inline-block;*/
  line-height: 2;
  color: #40514E;
}

.top {
  background-color: #BFFFF0;
  padding-top: 50px;
  position: relative;
}

.middle {

}

.bottom {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom:  50px;
  position: relative;
}

.lec-45 {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  right: 60px;
}

.computer {
  float: left;
  margin-right: 30px;
  width: 15rem;
}

.teach {
  float: right;
  margin-left: 30px;
  width: 15rem;
}
.connect{
  position: relative;
  width: 800px;
  margin: 50px auto  auto;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 7;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
